<section id="contact" class="contact{% if current_page == 'contact' %} section-show{% endif %}">
    <div class="container">
        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Me</p>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-map"></i>
                    <h3>My Address</h3>
                    <p>{{ info.address }}</p>
                </div>
            </div>
            {% if socials %}
                <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
                    <div class="info-box">
                        <i class="bx bx-share-alt"></i>
                        <h3>Social Profiles</h3>
                        <div class="social-links">
                            {% for social in socials %}
                                <a href="{{ social.url }}" class="{{ social.icon }}" target="_blank">
                                    <i class="bi bi-{{ social.icon }}"></i>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Me</h3>
                    <p>
                        <a href="mailto:{{ info.email }}">{{ info.email }}</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 mt-4 d-flex align-items-stretch">
                <div class="info-box">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Me</h3>
                    <p>
                        <a href="tel:{{ info.phone }}">{{ info.phone }}</a>
                    </p>
                </div>
            </div>
        </div>
        <form action="" method="post" role="form" class="form mt-4">
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                        required>
                </div>
            </div>
            <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            {% with messages = get_flashed_messages(category_filter=["error"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="my-3 error-message d-block">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["success"]) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="my-3 sent-message d-block">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div class="my-3 text-center">
                <button type="submit">Send Message</button>
            </div>
        </form>
        <div class="stats text-center mt-3">
            <a href="http://www.uz/ru/res/visitor/index?id=46676" target="_top">
                <img src="http://cnt0.www.uz/counter/collect?id=46676&amp;r=https%3A//a-bro.uz/projects&amp;pg=https%3A//a-bro.uz/&amp;c=Y&amp;j=N&amp;wh=1920x1080&amp;px=24&amp;js=1.3&amp;col=340F6E&amp;t=ffffff&amp;p=BD6F6F" width="88" height="31" border="0" alt="Топ рейтинг www.uz">
            </a>
        </div>
    </div>
</section>