<section id="services" class="services{% if current_page == 'services' %} section-show{% endif %}">
    <div class="container">
        <div class="section-title">
            <h2>Services</h2>
            <p>My Services</p>
        </div>
        {% if services %}
            <div class="row">
                {% for service in services %}
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-3">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="bx {{ service.icon }}"></i>
                            </div>
                            <h4>{{ service.name('en') }}</h4>
                            <p>{{ service.description('en') }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="stats text-center mt-3">
            <a href="http://www.uz/ru/res/visitor/index?id=46676" target="_top">
                <img src="http://cnt0.www.uz/counter/collect?id=46676&amp;r=https%3A//a-bro.uz/projects&amp;pg=https%3A//a-bro.uz/&amp;c=Y&amp;j=N&amp;wh=1920x1080&amp;px=24&amp;js=1.3&amp;col=340F6E&amp;t=ffffff&amp;p=BD6F6F" width="88" height="31" border="0" alt="Топ рейтинг www.uz">
            </a>
        </div>
    </div>
</section>