<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% block meta %}{% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='icons/android-chrome-192x192.png') }}" sizes="192x192"
        type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='icons/android-chrome-512x512.png') }}" sizes="512x512"
        type="image/png">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}" sizes="180x180"
        type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon-16x16.png') }}" sizes="16x16" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon-32x32.png') }}" sizes="32x32" type="image/png">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">

    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    {% block content %}{% endblock %}

    {% block script %}{% endblock %}

</body>

</html>